{%extends 'base.html'%}
{%block title%}
Реквизиты
{%endblock%}
{%block content%}
<div class="content ins">
	<div class="breadcrumbs">
	<div id="breadcrumb" class="breadcrumbs"><a href="{%url 'main'%}" title="На главную">На главную</a><span> &gt; </span><span>Реквизиты</span></div>	</div><p>
	<b><span style="font-size: 16px;">ЗАО "Конмет РС"</span></b>
</p>
<p>
	<b><span style="font-size: 16px;">Фактический адрес: 125413, г. Москва, Онежская ул, дом 24/1</span></b>
</p>
<p>
	<b><span style="font-size: 16px;">ОГРН 1027739705619</span></b>
</p>
<p>
	<b><span style="font-size: 16px;">Юридический адрес: 125413, г. Москва, Онежская ул, дом 24/1</span></b>
</p>
<p>
	<b><span style="font-size: 16px;">Телефон: +7 (495) 727-21-51</span></b>
</p>
<p>
	<b><span style="font-size: 16px;">Электронная почта: <a href="mailto:zakaz@salda.ru">zakaz@salda.ru</a></span></b>
</p>
<p>
	<b><span style="font-size: 16px;">Сотрудничество, оптовые продажи: <a href="mailto:gurman_posuda@mail.ru">gurman_posuda@mail.ru</a> <br>
 </span></b>
</p>
<p>
	<b><span style="font-size: 16px;">Производство: <a href="mailto:posuda@vsmpo.ru">posuda@vsmpo.ru</a> <br>
	Техническая поддержка: <a href="mailto:support@salda.ru">support@salda.ru</a></span></b>
</p></div>
{%endblock%}