{%extends 'base.html'%}
{%block title%}
Пресса
{%endblock%}
{%block content%}
<div class="content ins">
	<div class="breadcrumbs">
	<div id="breadcrumb" class="breadcrumbs"><a href="{%url 'main'%}" title="На главную">На главную</a><span> &gt; </span><span>Пресса</span></div>	</div> 
<div>В данном разделе Вы сможете ознакомиться с различными статьями и обзорами нашей продукции по прямым ссылкам на опубликованные материалы.&nbsp;</div>
 
<div> 
  <br>
 </div>
 
<div><a href="http://posudka.ru/node/10567">Экспертиза посуды из нержавеющей стали. Выпуск 2. Гурман, Amet, Tescoma, Taller, Home Club.</a></div>
 
<div> 
  <div>
    <br>
  </div>

  <div><a href="http://otzovik.com/reviews/kastryuli_gurman/">Подробные обзоры на кастрюли марки "Гурман" на сайте Otzovik.ru.&nbsp;</a></div>
 </div>
 </div>
{%endblock%}