{%extends 'base.html'%}
{%block title%}
Свойство посуды
{%endblock%}
{%block content%}
<div class="content ins">
	<div class="breadcrumbs">
	<div id="breadcrumb" class="breadcrumbs"><a href="{%url 'main'%}" title="На главную">На главную</a><span> &gt; </span><span>Свойства посуды</span></div>	</div> 
<h2 align="justify">&nbsp;Свойства посуды «Гурман»</h2>
 
<p align="justify"> 
  <br>
 </p>
 
<p align="justify"><strong><span>&nbsp;Высококачественный материал.</span></strong>&nbsp;Посуда всех серий «Гурман» изготавливается из высококачественной нержавеющей хромоникелевой стали, точно такая же сталь используется при производстве хирургических инструментов. Этот материал абсолютно инертен и не вступает в реакцию даже с агрессивными веществами: уксусом,&nbsp; пищевыми кислотами, содовыми растворами и прочее.</p>
 
<p align="justify"> 
  <br>
 </p>
 
<p align="justify"><strong><span>&nbsp;Изысканный дизайн.</span></strong>&nbsp;Элегантная посуда всех серий «Гурман» разрабатывалась лучшими художниками, дизайнерами и отлично вписывается в любой кухонный интерьер.</p>
 
<p align="justify"> 
  <br>
 </p>
 
<p align="justify"><strong><span>&nbsp;Польза для здоровья.</span></strong>&nbsp;Посуда «Гурман» эффективно сохраняет биоэнергетические свойства продуктов. Термообработка до 95°С и томление на слабом огне без кипячения (эффект «русской печи») щадяще воздействуют на внутриклеточную жидкость, и в результате биологическая ценность приготовленных блюд приближается к максимальной.</p>
 
<p align="justify"><strong><span>&nbsp;
      <br>
    &nbsp;Долговечность.</span></strong>&nbsp;Нержавеющая сталь делает посуду особенно долговечной, что важно и на профессиональной кухне, где ее используют особенно интенсивно, и на домашней, где она практически вечна. Никаких специальных лопаток и венчиков для такой посуды не требуется. </p>
 
<p align="justify"> 
  <br>
<b>&nbsp;Невозможно обжечься.</b> Ручки посуды изготовлены из нержавеющей стали и&nbsp; крепятся к корпусу&nbsp; кастрюли, сковороды или сотейника особым способом — точечно, поэтому в процессе даже интенсивного нагрева они не накаляются, а остаются тёплыми.
  <br>

  <br>
</p>
 
<p align="justify"><strong><span>&nbsp;Еда не пригорает.</span></strong>&nbsp;Утолщенное теплораспределительное дно состоит из 3 слоев: сталь — алюминий (обладающий хорошей теплопроводностью) — сталь. Такое массивное и прочное дно нагревается равномерно, и еда не пригорает.</p>
 
<p align="justify"><strong><span>
      <br>
    &nbsp;Экономия.</span></strong>&nbsp;Прочное тройное дно посуды «Гурман» быстро разогревается, не деформируется в процессе нагревания и всегда плотно прилегает к конфорке. Это обеспечивает экономию электроэнергии и газа до 60%, а времени приготовления — до 50%.</p>
 
<p align="justify"> 
  <br>
 </p>
 
<p align="justify"><strong><span>&nbsp;Плотно прилегающая крышка.</span></strong>&nbsp;При закрытой крышке приготовление блюд происходит в замкнутом пространстве, что не дает влаге испаряться. А это значит, что мясо, сваренное в такой посуде, будет сочным и мягким, а бульон — ароматным и наваристым.</p>
 
<p align="justify"> 
  <br>
 </p>
 
<p align="justify"><strong><span>&nbsp;Увеличение срока хранения пищи и отсутствие накипи.</span></strong>&nbsp;Даже скоропортящиеся продукты хранятся в посуде «Гурман»&nbsp;&nbsp; в 2–3 раза дольше, чем в обычной. Это обеспечивается особым способом обработки внутренней поверхности, исключающим образование мельчайших раковин, трещин и пор, в которых могут скапливаться микрочастицы пищи.</p>
 
<p align="justify"> 
  <br>
 </p>
 
<p align="justify"><strong><span>&nbsp;Максимально сохранение в продуктах натурального вкуса, витаминов, микроэлементов и сока.</span></strong>&nbsp; Варка и жаренье в посуде «Гурман» возможна с минимальным количеством воды и жира, или вообще без них.</p>
 
<p align="justify"> 
  <br>
 </p>
 
<p align="justify"><strong><span>&nbsp;В закрытой посуде еда долго остается горячей.</span></strong>&nbsp;Дно посуды «Гурман» не только быстро разогревается и равномерно передает нагрев на всю поверхность, но и хорошо сохраняет тепло внутри посуды.</p>
 
<p align="justify"> 
  <br>
 </p>
 
<p align="justify"><strong><span>&nbsp;Легко моется.</span></strong>&nbsp;Со стенок кастрюль и сковородок легко смываются любые остатки пищи как горячей, так и холодной водой&nbsp; — гладкая поверхность легко отталкивает грязь.</p>
 
<p align="justify"> 
  <br>
 </p>
 
<p align="justify"><span><strong>&nbsp;Подходит для всех типов плит.</strong></span>&nbsp;Электрической, газовой, индукционной, галогеновой, стеклокерамической, духового шкафа, можно хранить в холодильнике и мыть в посудомоечной машине.</p>
 </div>
{%endblock%}