{%load static%}
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico'%}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="yandex-verification" content="ad3878bf01623616" />
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
	<meta name="keywords"
		content="Посуда Гурман, интернет-магазин кухонной посуды, купить посуду от производителя, купить посуду в интернет-магазине недорого" />
	<meta name="description"
		content="Посуда для кухни оптом от производителя недорого с доставкой на сайте www.salda.ru" />
	<link href="{% static 'css/style.css'%}"
		type="text/css" data-template-style="true" rel="stylesheet" />
	<!-- <link href="{% static 'css/core.min.css'%}" type="text/css" rel="stylesheet" /> -->
	
	<link href="{% static 'css/core_popup.min.css'%}" type="text/css" rel="stylesheet" />
	<link href="{% static 'css/jquery.jscrollpane.css'%}" type="text/css" data-template-style="true" rel="stylesheet" />
	<link href="{% static 'css/jquery.formstyler.css'%}" type="text/css" data-template-style="true" rel="stylesheet" />
	
	<link href="{% static 'css/style.css'%}" type="text/css" data-template-style="true" rel="stylesheet" />
	
	<link href="{% static 'css/style.css'%}" type="text/css"
		data-template-style="true" rel="stylesheet" />
	<link href="{% static 'css/style.css'%}" type="text/css"
		data-template-style="true" rel="stylesheet" />
	<link href="{% static 'css/styles.css'%}" type="text/css" data-template-style="true"
		rel="stylesheet" />
	<link href="{% static 'css/template_styles.css'%}" type="text/css"
		data-template-style="true" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{%static 'css/swiper.mim.css'%}">
	<script type="text/javascript" src="{%static 'js/swiper.min.js'%}"></script>

	{%block link%}
	{%endblock%}
	<script type="text/javascript" src="{% static 'js/core.min.js"></script>
	<script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js'%"></script>
	<script type="text/javascript" src="{% static 'js/core_ajax.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/core_popup.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/script-up.js'%}"></script>

	<script>sng_up_button_opacity = '100'; sng_up_button_width = ''; sng_up_button = '/bitrix/images/sng.up/up1.png'; sng_up_position = 'left'; sng_up_position_indent_x = '350'; sng_up_position_indent_y = '55'</script>
	<link href="{% static 'css/style-up.css'%}" type='text/css' rel='stylesheet' />



	<script type="text/javascript" src="{% static 'js/scripts.js'%}"></script>
	<script type="text/javascript"
		src="{% static 'js/jquery.placeholder.min.js'%}"></script>
	<script type="text/javascript"
		src="{% static 'js/jquery.jscrollpane.min.js'%"></script>
	<script type="text/javascript" src="{% static 'js/jquery.lightbox_me.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.formstyler.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js'%}"></script>
	<script type="text/javascript"
		src="{% static 'js/script.js'%}"></script>
	<script type="text/javascript"
		src="{% static 'js/slider.js'%}"></script>
	<script type="text/javascript"
		src="{% static 'js/uslider.js'%}"></script>
<!-- 	<script
		type="text/javascript">var _ba = _ba || []; _ba.push(["aid", "c387ef766b7d7beb55f443e94c542697"]); _ba.push(["host", "salda.ru"]); (function () { var ba = document.createElement("script"); ba.type = "text/javascript"; ba.async = true; ba.src = (document.location.protocol == "https:" ? "https://" : "http://") + "bitrix.info/ba.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ba, s); })();</script>
 -->

	<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
	<link href="{% static 'css/core.min.css'%}" type="text/css" rel="stylesheet" />
	<link href="{% static 'css/core_popup.min.css'%}" type="text/css" rel="stylesheet" />
	<link href="{% static 'css/jquery.jscrollpane.css'%}" type="text/css"
		data-template-style="true" rel="stylesheet" />
	<link href="{% static 'css/jquery.formstyler.css'%}" type="text/css"
		data-template-style="true" rel="stylesheet" />
	<link href="{% static 'css/style.css'%}"
		type="text/css" data-template-style="true" rel="stylesheet" />
	<link href="{% static 'css/style.css'%}"
		type="text/css" data-template-style="true" rel="stylesheet" />
	<link href="{% static 'css/style.css'%}"
		type="text/css" data-template-style="true" rel="stylesheet" />
	<link href="{% static 'css/style.css'%}" type="text/css"
		data-template-style="true" rel="stylesheet" />
	<link href="{% static 'css/style.css'%}" type="text/css"
		data-template-style="true" rel="stylesheet" />

	<title>{%block title%}Интернет-магазин кухонной посуды от производителя www.salda.ru{%endblock%}</title>

	<script type="text/javascript">if (document.documentElement) { document.documentElement.id = "js" }</script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<link href="{% static 'css/slicknav.min.css'%}" rel="stylesheet" type="text/css">
	<script src="{% static 'js/mobile_menu/jquery.slicknav.min.js'%"></script>
</head>

<body>

	<div id="panel"></div>
	<div id="header">
		<a href="http://conmetholding.com/">
			<div class="headerTopBlock">
				<div class="headerTopBlockInner" rel="nofollow">
					<p>группа компаний КОНМЕТ ХОЛДИНГ</p>
				</div>
			</div>
		</a>
		<div class="headerMiddleBlock headerMiddleBlock1">
			<div class="headerMiddleBlockInner centered">
				<div class="logo">
					<img src="{% static 'img/logo.png'%}" border="0" width="160" height="99" />
				</div>
				<div class="search" style="width:290px;">
					<center>
						<div class="search-form">
							<form action="{%url 'search'%}">
								{%csrf_token%}
								<table border="0" cellspacing="0" cellpadding="2" align="center">
									<tr>
										<td align="center">
											
											<input
												size="15" name="q" id="qplSKIW" value="" class="search-suggest"
												type="text" autocomplete="off" onfocus="qplSKIW_CheckThis(this);"
												placeholder="Поиск..." />
											<input type="submit" class="submit" value />
											<ul id="res">

											</ul>
										</td>
									</tr>

								</table>
							</form>
						</div>
					</center>
				</div>
				<div class="reg" style="width: 360px; text-align: center;">
					{%if user.is_authenticated%}
					
					<table cellspacing="0" cellpadding="0" border="0" id="anchor_RpBpXdG2" class="bx-user-info-anchor-nolink">		
						<tbody>
							<tr>
								<td class="bx-user-info-anchor-cell" valign="top">
									<div class="bx-user-info-name">
										<a href="{%url 'personal'%}">{{user}}</a> 
										(<a class="logout" href="{%url 'signout'%}">Выйти</a>)
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					{%else%}
					<a href="{%url 'login'%}" id="auth_me"> Вход на сайт</a>
					
					{%endif%}
				</div>
				<div class="a_cart">
					<table class="">
						<tr>
							<td><img src="{% static 'img/cart.png'%}"
									style="margin-bottom: -15px; position: relative; top: -9px;" id="img_cart"></td>
							<td>
								<div class="">&nbsp;</div>
							</td>
							{%if products_total_nmb == 0 %}
							<td style="" id="ant_bask_link">
								<a href="{%url 'card'%}" class="">Корзина</a>
								<div class="ant_count_label" id="total-count">{{products_total_nmb}}</div>
							</td>
							{%else%}
							<td style="" id="ant_bask_link">
								<a href="{%url 'card'%}" class="">Корзина</a>
								<div class="ant_count_label" id="total-count">{{products_total_nmb}}</div>
							</td>
							{%endif%}
						</tr>
					</table>

					<style>
						.basket {
							width: 230px !important;
							background: url(/bitrix/templates/salda_new/images/out_cart_line_bg5.png) no-repeat !important;
						}
					</style>
				</div>
			</div>
		</div>
		{%if main == True%}
		<div class="topSlider">
			<div class="swiper-container sliderWrapper">
				<ul class="swiper-wrapper" style="width: 1075%; margin-left: 300px; position: relative; transition-duration: 0s; transform: translate3d(-1170px, 0px, 0px);">
					<li class="swiper-slide" style="float: left; list-style: outside none none; position: relative; width: 975px inherit;">
						<a href="/catalog/klassik/"><img
								src="{%static 'img/3d6b2b54a2ff63f4ce390aadf30d83fa.png'%}" 
								height="259" /></a>
					</li>
					<li class="swiper-slide" style="float: left; list-style: outside none none; position: relative; width: 975px;">
						<a href="/catalog/profi/"><img
								src="{%static 'img/9136ae5b16b00753dd5d4e4cceb0a9d4.png'%}" 
								height="259" /></a>
					</li>
					<li class="swiper-slide" style="float: left; list-style: outside none none; position: relative; width: 975px;">
						<a href="/catalog/elite/"><img
								src="{%static 'img/e524ea1bca7da77b83708f77d2538950.png'%}" 
								height="259" /></a>
					</li>
					<li class="swiper-slide" style="float: left; list-style: outside none none; position: relative; width: 975px;">
						<a href="/catalog/steklo/"><img
								src="{%static 'img/0dac36c268d5e1b6faee60c006490131.png'%}" 
								height="259" /></a>
					</li>
					<li class="swiper-slide" style="float: left; list-style: outside none none; position: relative; width: 975px;">
						<a href="https://vk.com/salda_ru"><img
								src="{%static 'img/5dd284fc9ecdd24acfb82c14f5ab1287.jpg'%}" 
								height="259" /></a>
					</li>

				</ul>
				<div class="swiper-pagination"></div>
				<script type="text/javascript">
					var mySwiper = new Swiper('.swiper-container', {
				    slidesPerView: 1,
					loop: true,
					// navigation: {
					// 	nextEl: '.flex-next',
					// 	prevEl: '.flex-prev'
					// 	},
						breakpoints: {
						540: {
							slidesPerView: 1
						}
					}

				});
				</script>
			</div>
		</div>
		{%endif%}
		<div class="headerMiddleBlock headerMiddleBlock2" style=" z-index:7;">
			<div class="headerBottomBlock centered headerBottomBlock2" style="margin-top: 50px; z-index:7;">

				<style>
					.ant_submenu {
						position: absolute;
						top: 100%;
						left: 0;
						width: 100%;
						display: none;
						background: #820200;
						padding: 0 0 15px 0;
					}

					.ant_submenu li {
						border-top: 1px solid #fff;
						text-align: left;
					}

					.ant_submenu a {
						display: block;
						padding: 5px 15px;
					}
				</style>
				<script type=text/javascript>
					$(function(){
						$(".a_menu").hover(
							function(){$(this).find(".ant_submenu").show();},
							function(){$(this).find(".ant_submenu").hide();}
						);	
					})
				</script>

				<ul class="headerMiddleBlockInner centered"
					style="display: table; table-layout: fixed; position: relative; width: 100%; height: 75px; border-left: 2px solid #fff;">
					<li class="a_menu">
						<a href="/service/" class="">Посуда Гурман</a>
						<ul class="ant_submenu">
							<li><a href='/catalog/klassik/'>Классик</a></li>
							<li><a href='/catalog/elite/'>Элит</a></li>
							<li><a href='/catalog/profi/'>Профи</a></li>
							<li><a href='/catalog/steklo/'>Стекло</a></li>
							<li><a href='/catalog/vstrecha/'>Встреча</a></li>
							<li><a href='/catalog/suvenir/'>Сувенир</a></li>
							<li><a href='/catalog/dachnik/'>Дачник</a></li>
						</ul>
					</li>
					<li class="a_menu">
						<a href="/catalog/" class="">Каталог</a>
						<ul class="ant_submenu">
							<li><a href='/catalog/kastryuli/'>Кастрюли</a></li>
							<li><a href='/catalog/skovorody/'>Сковороды</a></li>
							<li><a href='/catalog/zharovni/'>Жаровни</a></li>
							<li><a href='/catalog/kovshi/'>Ковши</a></li>
							<li><a href='/catalog/stolovye-pribory/'>Столовые приборы</a></li>
							<li><a href='/catalog/parovarki/'>Пароварки \ мантоварки</a></li>
							<li><a href='/catalog/kryshki/'>Крышки</a></li>
							<li><a href='/catalog/miski/'>Миски</a></li>
							<li><a href='/catalog/chayniki/'>Чайники</a></li>
							<li><a href='/catalog/nozhi/'>Разделочные ножи</a></li>
							<li><a href='/catalog/prochee/'>Прочее</a></li>
						</ul>
					</li>
					<li class="a_menu">
						<a href="/about/" class="">О нас</a>
						<ul class="ant_submenu">
							<li><a href='/about/'>О компании</a></li>
							<li><a href='/dokumentatsiya/'>Нормативные документы</a></li>
							<li><a href='/news/'>Новости</a></li>
							<li><a href='/manuals/'>Часто задаваемые вопросы</a></li>
						</ul>
					</li>
					<li class="a_menu">
						<a href="/contacts" class="">Контакты</a>
					</li>
					<li class="a_menu">
						<a href="/delivery/" class="">Доставка/оплата</a>
					</li>
				</ul>





				<div class="menu-clear-left"></div>
			</div>
		</div>
	</div>
	<div id="content" class="centered">
		{%block content%}
		
		{%endblock%}
	</div>
	<div id="footer">
		<div class="topBlock centered">
			<div class="topBlockInner">
				<div class="leftColumn">
					<div class="leftLinkBlock">
						<a href="/essential/">Реквизиты</a>
						<a href="/massmedia/">Пресса</a>
						<a href="{%url 'reviews'%}">Отзывы</a>
						<a href="/dokumentatsiya/">Документация</a>
						<a href="/about/">О компании</a>
					</div>
					<div class="rightLinkBlock">
						<a href="/delivery/">Доставка</a>
						<a href="/service/">О посуде</a>
						<a href="/service-props/">Свойствa посуды</a>
						<a href="/manuals/">Правила эксплуатации посуды “Гурман”</a>
						<a href="/contacts/">Контакты</a>
					</div>
				</div>
				<div class="soc_block">
					<a href="https://vk.com/salda_ru" target="_blank"><img
							src="{%static 'img/icons8-vk.png'%}" width="30"></a>
					<a href="https://www.facebook.com/salda.ru" target="_blank"><img
							src="{%static 'img/icons8-fb.png'%}" width="30"></a>
					<a href="https://www.instagram.com/posudagurman_official/" target="_blank"><img
							src="{%static 'img/icons8-ig.png'%}" width="30"></a>
				</div>
				<div class="rightColumn">
					<h2>Наши контакты</h2>
					<p><b>ЗАО "Конмет РС"</b></p>
					<p>Фактический адрес: 125413, г. Москва, Онежская ул, дом 24/1</p>
					<p>ОГРН 1027739705619</p>
					<p>Юридический адрес: 125413, г. Москва, Онежская ул, дом 24/1</p>
					<p>Телефон: <b>+7 (495) 727-21-51</b> Электронная почта: <b>zakaz@salda.ru</b></p>
				</div>
			</div>
		</div>
		<div class="bottomBlock">
			<div class="bottomBlockInner centered">
				<img src="{%static 'img/logoSmall.png'%}" width="116" height="86" alt="logo small" />
				<p>© 2001-2019г. Посуда “Гурман” группа компаний КОНМЕТ ХОЛДИНГ</p>
			</div>
		</div>
	</div>
	<div class="modal" id="addItemInCart">
		<h4>Товар добавлен в корзину</h4>
		<div class="item_img"><img src="" alt="" /></div>
		<div class="item_title"></div>
		<br />
		<a href="/personal/cart/" class="bt3">Оформить заказ</a>
		<a href="javascript:void(0)" class="close" style="margin-left: 10px;font-size: 14px;color: #888;">Продолжить
			покупки</a>
		<div class="close button"></div>
	</div>
	<script type="text/javascript" src="{%static 'js/main.js'%}"></script>
</body>

</html>